# Define text file attributes.
# - Treat them as text.
# - Ensure no CRLF line-endings, neither on checkout nor on checkin.
# - Detect whitespace errors.
#   - Exposed by default in `git diff --color` on the CLI.
#   - Validate with `git diff --check`.
#   - Deny applying with `git apply --whitespace=error-all`.
#   - Fix automatically with `git apply --whitespace=fix`.

*.css     text eol=lf
*.html    text eol=lf diff=html
*.js      text eol=lf
*.json    text eol=lf
*.lock    text eol=lf -diff
*.map     text eol=lf -diff
*.md      text eol=lf diff=markdown
*.php     text eol=lf diff=php
*.sh      text eol=lf
*.svg     text eol=lf -diff
*.twig    text eol=lf
*.txt     text eol=lf
*.xml     text eol=lf
*.xsl     text eol=lf
*.yml     text eol=lf

# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*.eot     binary
*.exe     binary
*.gif     binary
*.gz      binary
*.ico     binary
*.jpeg    binary
*.jpg     binary
*.otf     binary
*.phar    binary
*.png     binary
*.svgz    binary
*.ttf     binary
*.woff    binary
*.woff2   binary
*.deb     binary
